body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
#featured-property{
  position: absolute;;

}
p#featured-property{
  margin-left: 100px;
  width: 800px;
}

}
a:link{
  background-color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}
