
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}

#featured-property{
width: 900px;
 margin: 0 auto;
}
p#featured-property{
    width: 800px;
    margin: 0 auto;
}
a:link{
  background-color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}
#details{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
