
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
nav a{background-color: lightgrey;
margin-left: 1px;
margin-right: 1px;
}
figcaption{
  font-size: 12px;
}
#featured-property{
width: 900px;
 margin: 0 auto;
}
p#featured-property{
    width: 800px;
    margin: 0 auto;
}


#details{
display: block;
background-color: red;


}
