
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}

#featured-property{
width: 900px;
 margin: 0 auto;
}
p#featured-property{
    text-align: center;
    width: 800px;
    margin-left: 275px;
}
a:link{
  background-color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}
#details{

}
