p#featured-property{
    text-align: center;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}

#featured-property{
  width: 900px;
 margin: 0 auto;
}


}
a:link{
  background-color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
}
#details{

}
