
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
nav a{background-color: lightgrey;
margin-left: 10px;
margin-right: 10px;
}
#featured-property{
width: 900px;
 margin: 0 auto;
}
p#featured-property{
    width: 800px;
    margin: 0 auto;
}


#details{

background-color: red;


}
