
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}

img{
    display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
  }

nav a{background-color: lightgrey;
margin-left: 1px;
margin-right: 1px;
}
figcaption{
font-size: 13px;
  text-align: center;
}

#featured_property{
  text-align: center;
  background-color: purple;
}


#details{
display: block;
background-color: red;


}
